
.input.is-custom-input {
    border-radius: 4px 0 0 4px;
    height: 48px;
    padding-bottom:8px;
    padding-left:16px;
    padding-right:16px;
    padding-top:8px;
    font-size: 16px;   
    font-weight: 400;
    border: 1px solid #ced4da;
}

.input.is-custom-input, .input.is-custom-input::placeholder {
    color: rgb(73, 80, 87);
}

.button.is-custom-icon i {
    font-size: 1rem;
}